body {
    padding:50px;
    font-family: 'Montserrat', sans-serif;
    background:url("../img/bg.png") no-repeat center center scroll lightskyblue;
}

h1 {
    font-weight:bold;
    color:black;
    font-family: 'Titillium Web', cursive;
    font-size:24em;
    line-height:.85;
    margin-bottom:20px;
    text-shadow:7px 7px 0 #fff;
}

p {
    font-size:2em;
    width:70%;
    color:#fff;
}